html, body {
    background-color: silver;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Inter', sans-serif; 
}

.navigacija {
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid #f10d05;
    background-color: white;
}

.navigacija a {
    color: black;
    text-decoration: none;
    padding: 2%;
    font-weight: bolder;
    font-size: larger;
}

.navigacija a:hover {
    color: #f10d05;
}

.logounav img {
    width: 10%;
    height: 75.59px;
    float: left;
    object-fit: contain;
    display: block;
}

.linkovi {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.linkovi a {
    padding-left: 3%;
}

.text {
    display: block;
    text-align: center;
    margin: 30px;
}

.text p{
font-size: 25px;

}

#kontakt{
    color: rgb(3, 3, 3);
    text-align: center;
    width: 100%;
}

.forma{
    width: 60%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ime , #email{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    padding: 2%;
}
#savetikritika{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    padding: 2%;
}

#posalji {
    margin-top: 5%;
}

.footer{
    margin-top: 10%;
    width: 98%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1%;
}

.footer p{
    margin-bottom: 0;
}


.korisnilinkovi a{
    
    text-align: center;
    text-decoration: none;
    color: white;
}

.instagram:hover {
    color: #f10d05;
}

.facebook:hover {
    color: #f10d05;
}

.x:hover {
    color: #f10d05;
}

h3{
    color: white;
}

.ufuter {
    color: white;
}





@media screen and (max-width: 720px) 
{
    .navigacija {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1%;
    }
  
    .linkovi {
      text-align: center;
    }
  
    .linkovi a {
      display: block;   
      padding: 10px 0;
      font-size: 22px;
    }
  
    .logounav img {
      width: 50%;   
      height: auto;
      margin-bottom: 10px;
      float: none;
      margin: auto;
    }
}