html, body {
    background-color: silver;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Inter', sans-serif; 
}

.navigacija {
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid #f10d05;
    background-color: white;
}

.navigacija a {
    color: black;
    text-decoration: none;
    padding: 2%;
    font-weight: bolder;
    font-size: larger;
}

.navigacija a:hover {
    color: #f10d05;
}

.logounav img {
    width: 10%;
    height: 75.59px;
    float: left;
    object-fit: contain;
    display: block;
}

.linkovi {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.linkovi a {
    padding-left: 3%;
}

.text {
    display: block;
    text-align: center;
    margin: 30px;
}

.text p{
font-size: 25px;

}